/*** Import Fonts ***/
/*** Import Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic,200,600);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
@font-face {
  font-family: 'icomoon';
  src: url("../fontsicomoon.eot?ndcih3");
  src: url("../fonts/icomoon.eot?ndcih3#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ndcih3") format("truetype"), url("../fonts/icomoon.woff?ndcih3") format("woff"), url("../fonts/icomoon.svg?ndcih3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura Book";
  src: url("../fonts/Futura-Book.ttf"), url("../fonts/Futura-Book.eot");
  /* IE */ }

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/maison-neue-bold.ttf") format("truetype"), url("../fonts/maison-neue-bold.woff") format("woff"), url("../fonts/maison-neue-bold.svg") format("svg"), url("../fonts/maison-neue-bold.eot");
  /* IE */ }

@font-face {
  font-family: "Sofia Pro Regular";
  src: url("../fonts/SofiaProRegular.otf") format("opentype"); }

@font-face {
  font-family: "Sofia Pro Light";
  src: url("../fonts/SofiaProLight.otf") format("opentype"); }

@font-face {
  font-family: "Sofia Pro Bold";
  src: url("../fonts/SofiaProBold.otf") format("opentype"); }

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-codepen:before {
  content: "\e900"; }

.fa-dribbble:before {
  content: "\e901"; }

.fa-linkedin:before {
  content: "\e902"; }

.fa-envelope-o:before {
  content: "\e903"; }

.fa-github:before {
  content: "\e904"; }

.fa-medium:before {
  content: "\e905"; }

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Content */
.content {
  position: relative;
  min-height: 300px;
  overflow: hidden; }

.content--full {
  height: 100vh;
  min-height: 600px; }

.flexy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }

.flexy--center {
  justify-content: center; }

.flexy--row {
  flex-direction: row; }

.content__heading {
  flex: none;
  width: 100%;
  padding: 0 5vw; }

.content__heading--center {
  text-align: center; }

.content__title {
  font-size: 8vw;
  line-height: 1.2;
  padding: 0 5vw; }

.content__title--half {
  width: 50vw;
  z-index: 2; }

.content__title--enclosed {
  padding: 0;
  margin: 0; }

.content__title--center {
  margin: auto; }

.content__title--right {
  text-align: right;
  padding: 0 0 0 2em; }

.content__title--left {
  margin-left: -18vw; }

.content__title--medium {
  font-size: 6vw; }

.content__title--small {
  font-size: 2vw; }

.content__title__inner {
  flex: none;
  display: inline-block;
  white-space: nowrap;
  position: relative; }

.content__title__inner--offset-1 {
  left: 13.6vw; }

.content__title__inner--offset-2 {
  left: 3vw; }

.content__title__inner--offset-3 {
  left: 6vw; }

.content__image-wrap {
  flex: none;
  width: 25vw; }

.content__image-wrap--half {
  width: 50vw; }

.content__image {
  width: 100%;
  display: block; }

.triggers {
  border: 2px solid;
  padding: 3em;
  margin: 0 5vw;
  width: 40vw; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #9bc9ee;
  background: linear-gradient(to left, #4776E6, #8E54E9);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px; }

.dark .pace .pace-progress {
  background: #fff; }

/*** Variables ***/
/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (max-width: 900px) {
  .footer-img-container {
    height: 500px !important;
    width: 100% !important; }
    .footer-img-container img {
      width: 100% !important;
      height: auto !important; }
  .collection .grid-sizer,
  .collection .grid-item {
    width: 33.33% !important; }
  .collection .grid-item {
    height: 24vw !important; }
  .content__image-container h4.project-title {
    font-size: 1em !important; }
  .content__image-container p.project-des {
    font-size: 0.8em !important;
    margin-top: -15px !important; }
  a.portfolio-link {
    font-size: 5px !important; }
  .footer {
    height: 120vw !important; }
    .footer .footer-contacts-container {
      width: 90vw !important;
      margin-left: 5vw !important; } }

@media screen and (max-width: 700px) {
  .cover {
    margin-top: 25% !important; }
  .content__image-wrap--half {
    width: 90% !important;
    margin: 20vw 0 !important; }
  #rev-1 {
    height: 60vw !important; }
    #rev-1 .cover-des {
      width: 60% !important; }
  .content__image-container h4.project-title {
    font-size: 0.9em !important; }
  .collection h4.collection-title {
    font-size: 1.3em; }
  .footer {
    height: 900px !important; }
    .footer .footer-contacts-container {
      display: block !important;
      margin: 0 auto !important;
      margin-top: 400px !important;
      transform: translateX(-100%) !important; } }

@media screen and (max-width: 600px) {
  .block-logo {
    font-size: 15px !important; }
  .grid-item, .content__image-container {
    padding: 0 !important; }
  .masonry .content__image-container {
    margin: 0 15px !important;
    max-height: 300px !important; }
  .content__image-container h4.project-title {
    font-size: .9em !important;
    font-weight: normal !important; }
  .content__image-container p.project-des {
    font-size: 0.7em !important;
    margin-top: -15px !important; } }

@media screen and (max-width: 450px) {
  .grid-item, .content__image-container {
    padding: 0 !important; }
  .masonry .content__image-container {
    margin: 0 5px;
    max-height: 250px !important; }
  .collection h4.collection-title {
    font-size: 1em; }
  .footer {
    height: 900px !important; }
    .footer .footer-contacts-container {
      display: block !important;
      margin: 0 auto !important;
      margin-top: 300px !important;
      transform: translateX(-80%) !important; } }

/* -------------------------------- 
		General Styles
-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: #000;
  outline: none; }

a:focus {
  color: #5fa6e0; }

.page-container {
  transition: 0.5s cubic-bezier(0, 1, 0.5, 1); }

.fixed {
  opacity: 0;
  position: fixed; }

/* -------------------------------- 
	Logo, Menu Overlay Style 
-------------------------------- */
/*** kfan.io Logo ***/
.block-logo {
  z-index: 999;
  width: 200px;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff; }
  .block-logo a {
    text-decoration: none;
    cursor: pointer !important; }

.block-logo .home-top {
  position: absolute;
  top: 45px;
  padding-left: 35px; }

.block-logo .home-bottom {
  pointer-events: none; }

.logo-dark {
  color: #000; }

.logo-light {
  color: #fff; }

#dot {
  color: #5fa6e0; }

/* -------------------------------- 
	Home, Portfolio Cover Style 
-------------------------------- */
h2, .menu__link {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.cover {
  overflow: hidden; }

#rev-0 {
  font-size: 0.3em;
  letter-spacing: -0.5px;
  color: #5fa6e0; }

a.portfolio-link {
  position: relative;
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: 0.2em !important;
  color: #3c3c3c;
  margin: 0; }
  a.portfolio-link hr {
    display: block;
    position: absolute;
    top: 75%;
    height: 0.3em;
    width: 3.5em;
    background: rgba(95, 166, 224, 0.8);
    border: none;
    transform-origin: 0% 50%;
    z-index: 0;
    transition: 0.15s all ease-in-out; }
  a.portfolio-link:hover hr {
    width: 100%; }

#rev-1 {
  background-image: url("../img/portfolio/la.jpg");
  background-size: cover;
  background-position: center center;
  height: 47vw; }

p.cover-des {
  display: block;
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6vw;
  letter-spacing: 1px;
  line-height: 2.2em;
  width: 80%;
  margin-left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
  opacity: 0; }

/* -------------------------------- 
	Home, Portfolio Masonry Style 
-------------------------------- */
.grid-container {
  position: relative; }
  .grid-container a {
    text-decoration: none; }

.grid {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  float: left;
  display: inline-block; }

.content__image-container {
  height: 100%; }
  .content__image-container img.content__image {
    width: 100%;
    height: auto; }

.masonry .grid-sizer,
.masonry .grid-item {
  width: 50%; }

.masonry .grid-item {
  margin: 4vw 0; }

.masonry .content__image-container {
  margin: 0 45px; }
  .masonry .content__image-container img.content__image {
    transition: 0.3s ease-in-out; }
    .masonry .content__image-container img.content__image:hover {
      transform: scale(0.95); }
  .masonry .content__image-container h4, .masonry .content__image-container p {
    text-align: center; }
  .masonry .content__image-container h4.project-title {
    font-family: "Sofia Pro Regular", sans-serif;
    color: #3c3c3c;
    letter-spacing: 0;
    font-size: 1.3em; }
  .masonry .content__image-container p.project-des {
    font-family: "Sofia Pro Light", sans-serif;
    color: #80868B;
    letter-spacing: 0;
    font-size: 1em;
    margin-top: -20px; }

.masonry .grid-stamp {
  height: 100px; }

/* -------------------------------- 
Home, Portfolio Collection Style 
-------------------------------- */
.section-spacer {
  position: relative;
  width: 100%;
  height: 40vw;
  margin-top: 10vw;
  text-align: center; }

.collection {
  margin-bottom: 30vw; }
  .collection .grid {
    width: 100%; }
  .collection .grid-sizer,
  .collection .grid-item {
    width: 25%; }
  .collection .grid-item {
    height: 18vw; }
    .collection .grid-item:nth-of-type(2) .collection-fade {
      background: #67B26F;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #67B26F, #4ca2cd);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #67B26F, #4ca2cd);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .collection .grid-item:nth-of-type(3) .collection-fade {
      background: #3a7bd5;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #3a7bd5, #3a6073);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #3a7bd5, #3a6073);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .collection .grid-item:nth-of-type(4) .collection-fade {
      background: #485563;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #29323c, #485563);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #29323c, #485563);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .collection .grid-item:nth-of-type(5) .collection-fade {
      background: #304352;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #304352, #d7d2cc);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #304352, #d7d2cc);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .collection .grid-item:nth-of-type(8) .collection-fade {
      background: #8e9eab;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(135deg, #8e9eab, #eef2f3);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(135deg, #8e9eab, #eef2f3);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.collection-fade {
  position: absolute;
  background: yellow;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.8s all cubic-bezier(0, 1, 0.5, 1);
  opacity: 0; }

h4.collection-title {
  display: block;
  position: relative;
  top: 50%;
  transform: translate(-10%, -50%);
  color: white;
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: 1.8em;
  margin: auto 0;
  transition: 0.8s all cubic-bezier(0, 1, 0.5, 1);
  opacity: 0; }

.collection-item:hover .collection-fade {
  opacity: 1; }

.collection-item:hover h4.collection-title {
  opacity: 1;
  transform: translate(0, -50%); }

/* -------------------------------- 
		Footer Style
-------------------------------- */
.footer {
  position: relative;
  margin-top: 200px;
  background: #dac2da;
  width: 95%;
  height: 90vw;
  display: -webkit-box;
  display: flex; }
  .footer .footer-img-container {
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    position: relative;
    margin-top: -50px;
    float: left; }
  .footer .footer-contacts-container {
    width: 46vw;
    position: relative;
    margin: 10vw 0 0 10vw; }
    .footer .footer-contacts-container ul.connect-list {
      list-style: none; }
      .footer .footer-contacts-container ul.connect-list li.connect-item {
        width: 300px;
        opacity: 0;
        transform: translateX(25%);
        transition: 1s cubic-bezier(0, 1, 0.5, 1); }
        .footer .footer-contacts-container ul.connect-list li.connect-item:nth-of-type(1) {
          animation-delay: 500ms; }
        .footer .footer-contacts-container ul.connect-list li.connect-item:nth-of-type(2) {
          animation-delay: 600ms; }
        .footer .footer-contacts-container ul.connect-list li.connect-item:nth-of-type(3) {
          animation-delay: 700ms; }
        .footer .footer-contacts-container ul.connect-list li.connect-item:nth-of-type(4) {
          animation-delay: 800ms; }
        .footer .footer-contacts-container ul.connect-list li.connect-item:nth-of-type(5) {
          animation-delay: 900ms; }
        .footer .footer-contacts-container ul.connect-list li.connect-item:nth-of-type(6) {
          animation-delay: 1000ms; }
        .footer .footer-contacts-container ul.connect-list li.connect-item .connect-info {
          display: inline-block;
          color: white;
          font-family: 'Lato', sans-serif;
          font-size: 0.8em;
          font-weight: 400;
          letter-spacing: 1px;
          padding: 5px 0 5px 30px; }
        .footer .footer-contacts-container ul.connect-list li.connect-item i {
          color: white; }
  .footer .home-bottom {
    position: absolute;
    left: 8vw;
    bottom: 5vw; }

/* -------------------------------- 
		Custom Animations
-------------------------------- */
